 RESET 
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre
,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{  margin:0;  padding:0;  border:0;  font-size:100%;  font:inherit;  vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{  display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}body{font:13px/1.231 sans-serif;*font-size:small}select,input,textarea,button{font:99% sans-serif}pre,code,kbd,samp{font-family:monospace,sans-serif}a:hover,a:active{outline:none}ul,ol{margin-left:2em}ol{list-style-type:decimal}nav ul,nav li{margin:0;list-style:none;list-style-image:none}small{font-size:85%}strong,th{font-weight:bold}td{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-0.5em}sub{bottom:-0.25em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;padding:15px}textarea{overflow:auto}.ie6 legend,.ie7 legend{margin-left:-7px}input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}.ie6 input{vertical-align:text-bottom}label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}button,input,select,textarea{margin:0}input:valid,textarea:valid {}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0px 0px 5px red;-webkit-box-shadow:0px 0px 5px red;box-shadow:0px 0px 5px red}.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none}::selection{background:#FF5E99;color:#fff;text-shadow:none}a:link{-webkit-tap-highlight-color:#FF5E99}button{ width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}body,select,input,textarea{ color:#444}h1,h2,h3,h4,h5,h6{font-weight:bold}ul,li{margin:0;padding:0;}



body {
  font-family: 'Domine', sans-serif;
  font-weight: 400;
  background:#eee url(/debut_dark.png) repeat;
}

a {
  color:#555;
  text-decoration: none;
}

  a:hover {
    color:#888;
  }

#wrapper {
  padding:30px 0;
  max-width:650px;
  margin:0 auto;
  background:#fff;
}

ul.menu {
  overflow:hidden;
  background:#eee;
  padding:15px 30px;
  max-width:590px;
  margin:0 auto;
  border-bottom:1px solid #eee;
  /*box-shadow:0 0 10px #aaa;
  -webkit-box-shadow:0 0 10px #aaa;
  -moz-box-shadow:0 0 10px #aaa;*/

  /*width:940px;
  margin:0 auto;*/
}

  ul.menu li {
    display:inline;
    float:left;
    font-size:11px;
    padding-right:15px;
  }

  ul.menu li.first {
    font-weight: 700;
  }

  ul.menu li a {
    display:block;
  }

h1 {
  padding-bottom:19px;
  margin-bottom:19px;
  border-bottom:1px solid #eee;
}

  h1 a {
    color:#333;
  }

h2 {
  line-height:1.3;
  padding-bottom:9px;
  font-weight: 700;
  font-size:18px;
}

  h2 a:visited {
    color:#999;
  }

.item {
  padding:0 30px 19px;
  margin-bottom:19px;
  border-bottom:1px solid #eee;
  position: relative;
}

.item .number {
  position: absolute;
  bottom:20px;
  right:20px;
  color:#eee;
}

.item .meta {
  font-size:11px;
}

.links {
  margin-top:10px;
}

.links .btn {
  background:#fff;
  font-size:11px;
  padding:7px 10px;
  border-radius: 4px;
  border:1px solid #eee;
  display:inline-block;
  margin-right:10px;
}

  .links .btn:hover {
    background:#aaa;
    border-color: #aaa;
    color:#fff;
  }

  .links .btn:active {
    background:#F66603;
    border-color: #F66603;
  }

.links .mobile {
  display:none;
}

.links .desktop {
  display:inline-block;
}

.btn.primary {
  background:#F66603;
  color:#fff;
  padding:7px 10px;
  border-radius: 4px;
  display: inline-block;
  margin:0 30px;
  font-size:11px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) and (orientation:portrait) {

  body {
    overflow-x:hidden;
  }

  #wrapper {
    padding:20px 0;
  }

  nav {
    width:100%;
    overflow: hidden;
  }

  ul.menu {
    width:100%;
    padding:15px 20px;
    max-width:100%;
    margin:0;
  }

  ul.menu li {
    font-size:11px;
  }

  .container {
    width:100%;
  }

  h2 {
    font-size:16px;
  }

  .item {
    padding:0 20px 14px;
  }

  .links .mobile {
    display:inline-block;
  }

  .links .desktop {
    display:none;
  }

  .btn.primary {
    margin:0 20px;
  }

}

@media only screen and (min-width: 480px) and (max-width: 1024px) and (orientation:landscape) {

  body {
    overflow-x:hidden;
  }

  #wrapper {
    padding:20px;
  }

  ul.menu {
    width:100%;
    margin:0;
  }

  .container {
    width:100%;
  }

  h2 {
    font-size:16px;
  }

}